/* ===== LOGIN / REGISTER ONLY ===== */

.form-container {
    width: 350px;
    margin: 60px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.form-container h2 {
    margin-bottom: 20px;
}

/* input */
.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* button */
.form-container button {
    width: 100%;
    padding: 10px;
    background:#1e293b;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.form-container button:hover {
    background: #1e293b;
}

/* link */
.form-container a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #1e293b;
    text-decoration: none;
}

/* error */
.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}